.featured-project {
  margin-top: 100px;
  margin-bottom: 5%; }
  .featured-project .project-intro {
    text-align: center; }
  .featured-project a {
    text-decoration: none; }
  .featured-project .fa-long-arrow-alt-down {
    animation: slide ease-in-out infinite 2s; }
  .featured-project .feature-wrap {
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(2, minmax(350px, 1fr));
    justify-content: center;
    background-clip: padding-box; }
    .featured-project .feature-wrap .feature-proj {
      display: flex;
      justify-content: space-between;
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 4px 4px 2px #65829948, -4px -4px 2px #ebffff5e; }
      .featured-project .feature-wrap .feature-proj .img-wrap {
        height: 300px;
        margin-top: 50px;
        position: relative; }
        .featured-project .feature-wrap .feature-proj .img-wrap .proj-img {
          position: absolute;
          left: 0;
          max-height: 300px;
          bottom: 0;
          width: auto; }
      .featured-project .feature-wrap .feature-proj figcaption {
        display: flex;
        margin-top: 40px;
        margin-right: 15px;
        width: 50%;
        justify-content: space-evenly;
        align-items: space-around;
        flex-direction: column;
        color: #fff; }
        .featured-project .feature-wrap .feature-proj figcaption .icon-proj {
          vertical-align: middle; }
        .featured-project .feature-wrap .feature-proj figcaption .lang-stacks {
          text-align: center; }
          .featured-project .feature-wrap .feature-proj figcaption .lang-stacks span {
            border: 1px solid violet;
            padding: 3px; }
        .featured-project .feature-wrap .feature-proj figcaption h4 {
          margin-top: 15px;
          color: #e4e3e3; }
        .featured-project .feature-wrap .feature-proj figcaption .source-wrap {
          display: flex;
          justify-content: space-around;
          margin-top: 20px; }
          .featured-project .feature-wrap .feature-proj figcaption .source-wrap a {
            border-radius: 5px;
            padding: 7px; }
            .featured-project .feature-wrap .feature-proj figcaption .source-wrap a:first-child {
              color: #fff;
              background: linear-gradient(145deg, #017293, #0188ae);
              box-shadow: 3px 3px 5px #01566f, -3px -3px 5px #01a8d7; }
            .featured-project .feature-wrap .feature-proj figcaption .source-wrap a:nth-child(2) {
              color: #000;
              background: #ffffff;
              box-shadow: inset 5px 5px 12px #adadad, inset -5px -5px 12px #ffffff; }
      .featured-project .feature-wrap .feature-proj:nth-child(1) {
        background-color: #017fa3; }
      .featured-project .feature-wrap .feature-proj:nth-child(2) {
        background-color: #62c5c8; }
      .featured-project .feature-wrap .feature-proj:nth-child(3) {
        background-color: #e2819c; }
      .featured-project .feature-wrap .feature-proj:nth-child(4) {
        background-color: #030633; }
      .featured-project .feature-wrap .feature-proj:nth-child(5) {
        background-color: #dff4f5; }
        .featured-project .feature-wrap .feature-proj:nth-child(5) figcaption {
          color: black; }
      .featured-project .feature-wrap .feature-proj:nth-child(6) {
        background-color: #0bb04d; }

@keyframes slide {
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(10px); } }
@media only screen and (max-width: 960px) {
  .featured-project {
    margin-top: 50px; }
    .featured-project .feature-wrap {
      grid-template: repeat(6, 1fr)/1fr; } }
@media only screen and (max-width: 800px) {
  .featured-project .feature-wrap .feature-proj .img-wrap {
    margin-top: 14%;
    height: 250px; }
    .featured-project .feature-wrap .feature-proj .img-wrap .proj-img {
      height: 250px; }
  .featured-project .feature-wrap .feature-proj figcaption {
    margin-top: 0; } }
@media only screen and (max-width: 730px) {
  .featured-project .feature-wrap {
    padding: 0;
    width: 100%; }
    .featured-project .feature-wrap .feature-proj {
      margin: 16px 0px;
      flex-direction: column-reverse;
      align-items: center; }
      .featured-project .feature-wrap .feature-proj .img-wrap {
        margin: 0;
        width: 100%;
        height: 150px; }
        .featured-project .feature-wrap .feature-proj .img-wrap .proj-img {
          left: 25%;
          bottom: 0;
          height: 150px; }
      .featured-project .feature-wrap .feature-proj figcaption {
        height: 50%;
        margin-top: 0px; } }

/*# sourceMappingURL=feature.css.map */
