:root {
  --feature-proj-bg: #f6f8fc;
  --white: #ffffff;
  --proj-desc-col: #3c455c;
  --soft-highlight: #ffffff;
  --dark-highlight: #cfcdcd;
}

[data-theme="dark-theme"] {
  --feature-proj-bg: #131419;
  --white: #000;
  --proj-desc-col: #fff;
  --soft-highlight: rgba(255, 255, 255, 0.05);
  --dark-highlight: rgba(0, 0, 0, 0.51);
}

.featured-project {
  margin: 150px 0 5% 0;
  padding: 0 10px;
  overflow-x: hidden;
  background-color: var(--feature-proj-bg);
}
.featured-project .project-intro {
  text-align: center;
}
.featured-project a {
  text-decoration: none;
}
.featured-project .fa-long-arrow-alt-down {
  animation: slide ease-in-out infinite 2s;
}
.featured-project .feature-wrap {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, minmax(350px, 1fr));
  justify-content: center;
  background-clip: padding-box;
}
.featured-project .feature-wrap .feature-proj {
  border-radius: 20px;
  box-shadow: inset 9px 9px 18px var(--dark-highlight),
    inset -9px -9px 18px var(--soft-highlight);
  border: 5px solid rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 400px;
  background-color: var(--feature-proj-bg);
  background-size: cover;
  background-repeat: no-repeat;
}
.featured-project .feature-wrap .feature-proj:hover .proj-img {
  animation: scale 1.5s forwards linear;
}
.featured-project .feature-wrap .feature-proj .img-wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 35%;
  left: 15px;
  bottom: 5px;
}
.featured-project .feature-wrap .feature-proj .img-wrap .proj-img {
  position: absolute;
  left: 0;
  max-height: 340px;
  bottom: 0;
  width: auto;
}
.featured-project .feature-wrap .feature-proj figcaption {
  display: flex;
  margin-top: 40px;
  margin-right: 15px;
  justify-content: space-evenly;
  align-items: space-around;
  flex-direction: column;
  width: 62%;
}
.featured-project .feature-wrap .feature-proj .main-project {
  padding-block: 5rem;
}
.featured-project .feature-wrap .feature-proj figcaption p.proj-desc {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  word-spacing: 1.5px;
  color: var(--proj-desc-col);
}
.featured-project .feature-wrap .feature-proj figcaption .icon-proj {
  vertical-align: middle;
}
.featured-project .feature-wrap .feature-proj figcaption .lang-stacks span {
  font-size: 15px;
  border: 2px solid skyblue;
  padding: 1px;
  margin-right: 10px;
}
.featured-project .feature-wrap .feature-proj figcaption .source-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 14px;
}
.featured-project .feature-wrap .feature-proj figcaption .source-wrap a {
  border: 3px solid rgba(255, 255, 255, 0.43);
  border-radius: 5px;
  padding: 7px;
  transition: 0.5s all ease-in-out;
  background-color: var(--feature-proj-bg);
  font-weight: 600;
}
.featured-project
  .feature-wrap
  .feature-proj
  figcaption
  .source-wrap
  a:first-child {
  box-shadow: 6px 6px 16px 0 var(--dark-highlight),
    -6px -6px 16px 0 var(--soft-highlight);
}
.featured-project
  .feature-wrap
  .feature-proj
  figcaption
  .source-wrap
  a:nth-child(2) {
  background: var(--white);
  box-shadow: inset 3px 3px 5px var(--dark-highlight),
    inset -3px -3px 5px var(--soft-hghlight);
}
.featured-project .feature-wrap .feature-proj:nth-child(1) {
  border-radius: 20px;
  box-shadow: inset 9px 9px 18px var(--dark-highlight),
    inset -9px -9px 18px var(--soft-highlight);
  border: 5px solid rgba(255, 255, 255, 0.7);
}

@keyframes scale {
  from {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
  }
}
.mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .featured-project {
    margin-top: 150px;
  }
  .featured-project .feature-wrap {
    grid-template: repeat(6, 1fr) / 1fr;
  }
  .featured-project .feature-wrap .feature-proj figcaption {
    margin-right: 0;
  }
}
@media only screen and (max-width: 800px) {
  .featured-project {
    font-size: 14px;
  }
  .featured-project .feature-wrap .feature-proj figcaption {
    width: 60%;
    margin-top: 0;
  }
}
@media only screen and (max-width: 730px) {
  .featured-project {
    font-size: 12px;
    padding: 0 10px;
  }
  .featured-project .feature-wrap {
    padding: 0;
    width: 100%;
  }
  .featured-project .feature-wrap .feature-proj {
    height: 500px;
    margin: 16px 0px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .featured-project .feature-wrap .feature-proj .img-wrap {
    margin: 0;
    width: 100%;
  }
  .featured-project .feature-wrap .feature-proj .img-wrap .proj-img {
    left: 25%;
    bottom: 0;
    height: 150px;
  }
  .featured-project .feature-wrap .feature-proj figcaption {
    width: 100%;
    height: 90%;
    margin-bottom: 10px;
  }
  .featured-project .feature-wrap .feature-proj figcaption h3 {
    font-size: 18px;
    text-align: center;
  }
  .featured-project .feature-wrap .feature-proj figcaption .source-wrap {
    margin: 0 0 15px 0;
    font-size: 11px;
  }
  .featured-project .feature-wrap .feature-proj .proj-large {
    display: none;
  }
  .featured-project .feature-wrap .feature-proj .mobile {
    display: initial;
  }
  .featured-project .feature-wrap .feature-proj .info-wrap-mobile {
    margin: auto;
    width: 100%;
  }
  .featured-project .feature-wrap .feature-proj .info-wrap-mobile .img-center {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    opacity: 1;
  }
  .featured-project
    .feature-wrap
    .feature-proj
    .info-wrap-mobile
    .proj-img-mobile {
    width: auto;
    max-height: 300px;
    animation: img-hold 12s infinite 5s linear;
  }
  .featured-project .feature-wrap .feature-proj .info-wrap-mobile .not-anime {
    animation: none;
  }
  .featured-project .feature-wrap .feature-proj .lang-mobil {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
  }
  .featured-project .feature-wrap .feature-proj p.proj-desc-mobile {
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    font-size: 18px;
    left: 0;
    z-index: 55;
    background-color: var(--feature-proj-bg);
    transition: height 2s;
    animation: p-info 12s infinite 5s linear;
  }

  @keyframes p-info {
    from {
      opacity: 0;
      height: 0px;
    }
    30%,
    50%,
    70% {
      opacity: 1;
      height: max-content;
      padding-top: 30%;
    }
    80%,
    to {
      opacity: 0;
      height: 0px;
    }
  }
  @keyframes img-hold {
    from {
      opacity: 1;
      transform: rotate3d(0, 1, 0, 90deg);
    }
    30%,
    50%,
    70% {
      opacity: 0;
      transform: rotate3d(0, 1, 0, 180deg);
    }
    80%,
    90% {
      opacity: 1;
      transform: rotate3d(0, 1, 0, 360deg);
    }
    to {
      opacity: 1;
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }
}
@media only screen and (max-width: 400px) {
  .featured-project {
    margin-top: 80px;
  }
  .featured-project .feature-wrap .feature-proj .info-wrap-mobile {
    width: 100%;
  }
  .featured-project .feature-wrap .feature-proj .info-wrap-mobile .lang-mobil {
    margin: auto;
    width: 98%;
  }
  .featured-project
    .feature-wrap
    .feature-proj
    .info-wrap-mobile
    .lang-mobil
    span {
    margin: 0;
    font-size: 10px;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --feature-proj-bg: #131419;
    --white: #000;
    --proj-desc-col: #fff;
    --soft-highlight: rgba(255, 255, 255, 0.05);
    --dark-highlight: rgba(0, 0, 0, 0.51);
  }
}

/*# sourceMappingURL=feature.css.map */
