.featured-project {
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 5%;
  padding-left: 5%;
  a {
    text-decoration: none;
  }
  .fa-long-arrow-alt-down {
    animation: slide ease-in-out infinite 2s;
  }
  .feature-wrap {
    display: grid;
    grid-template: 1fr 1fr / repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    .feature-proj {
      height: 250px;
      background: url(../assets/mixin-project.png) no-repeat;
      background-size: cover;
      box-shadow: 4px 4px 2px #65829948, -4px -4px 2px #ebffff5e;
      figcaption {
        width: 0;
        height: 0;
        opacity: 0;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // transform: scaleY(0);
        // transition: transform 0.7s, width 1.2s, height 1s;
        * {
          text-align: center;
          margin-top: -40px;
        }
        h4 {
          margin-top: 15px;
          color: rgb(228, 227, 227);
        }
        .source-wrap {
          width: 50%;
          display: flex;
          justify-content: space-around;
          margin-top: 50px;
          a {
            border: 2px solid #fff;
            border-radius: 10px;
            padding: 7px;
          }
        }
      }
      &:nth-child(2) {
        background-image: url(../assets/);
      }
      // &:hover figcaption {
      //   height: 100%;
      //   width: 100%;
      //   opacity: 0.8;
      //   transform: scaleY(1);
      //   background-color: #7510f7;
      // }
    }
  }
}

@keyframes slide {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
  }
}

@media only screen and (max-width: 400px) {
  .featured-project {
    padding: 0;
    margin: 0 auto;
    .feature-wrap {
      .feature-proj {
        // width: 200px;
      }
    }
  }
}


@media only screen and (max-width: 800px) {
  .featured-project {
    margin-top: 50px;
    .feature-wrap {
      .feature-proj {
        figcaption {
          .source-wrap {
            // width: 80%;
          }
        }
      }
    }
  }
}
