.featured-project {
  margin-top: 100px;
  margin-bottom: 5%;
  .project-intro {
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .fa-long-arrow-alt-down {
    animation: slide ease-in-out infinite 2s;
  }
  .feature-wrap {
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    background-clip: padding-box;
    .feature-proj {
      display: flex;
      justify-content: space-between;
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 4px 4px 2px #65829948, -4px -4px 2px #ebffff5e;
      .img-wrap {
        height: 300px;
        margin-top: 50px;
        position: relative;
        .proj-img {
          position: absolute;
          height: 300px;
          width: auto;
        }
      }

      figcaption {
        display: flex;
        margin-top: 40px;
        margin-right: 10%;
        justify-content: space-evenly;
        align-items: space-around;
        flex-direction: column;
        color: #fff;
        // transform: scaleY(0);
        // transition: transform 0.7s, width 1.2s, height 1s;
        .icon-proj {
          vertical-align: middle;
        }
        .lang-stacks {
          text-align: center;
        }
        h4 {
          margin-top: 15px;
          color: rgb(228, 227, 227);
        }
        .source-wrap {
          display: flex;
          justify-content: space-around;
          margin-top: 20px;
          a {
            border-radius: 5px;
            padding: 7px;
            &:first-child {
              color: #fff;
              background: linear-gradient(145deg, #017293, #0188ae);
              box-shadow: 3px 3px 5px #01566f, -3px -3px 5px #01a8d7;
            }
            &:nth-child(2) {
              color: #000;
              background: #ffffff;
              box-shadow: inset 5px 5px 12px #adadad,
                inset -5px -5px 12px #ffffff;
            }
          }
        }
      }
      &:nth-child(1) {
        background-color: rgb(1, 127, 163);
      }
      &:nth-child(2) {
        background-color: rgb(98, 197, 200);
      }
      &:nth-child(3) {
        background-color: rgb(226, 129, 156);
      }
      &:nth-child(4) {
        background-color: rgb(3, 6, 51);
      }
      &:nth-child(5) {
        background-color: rgb(223, 244, 245);
        figcaption {
          color: black;
        }
      }
      &:nth-child(6) {
        background-color: rgb(11, 176, 77);
      }
      // &:hover figcaption {
      //   height: 100%;
      //   width: 100%;
      //   opacity: 0.8;
      //   transform: scaleY(1);
      //   background-color: #7510f7;
      // }
    }
  }
}

@keyframes slide {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
  }
}

@media only screen and (max-width: 1024px) {
  .featured-project {
    .feature-wrap {
    }
  }
}

@media only screen and (max-width: 960px) {
  .featured-project {
    margin-top: 50px;
    .feature-wrap {
      grid-template: repeat(6, 1fr) / 1fr;
    }
  }
}


@media only screen and (max-width: 800px) {
  .featured-project {
    .feature-wrap {
      .feature-proj {
        .img-wrap {
          margin-top: 14%;
          height: 250px;
          .proj-img {
            height: 250px;
          }
        }
        figcaption {
          margin-top: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 730px) {
  .featured-project {
    .feature-wrap {
      padding: 0;
      width: 100%;
      .feature-proj {
        margin: 16px 0px;
        flex-direction: column-reverse;
        align-items: center;
        .img-wrap {
          margin: 0;
          width: 100%;
          height: 150px;
          .proj-img {
            left: 25%;
            bottom: 0;
            width: 40%;
            height: 150px;
          }
        }
        figcaption {
          height: 50%;
          margin-top: 0px;
        }
      }
    }
  }
}
