
.project-list {
  padding: 0 5%;
  .project-tab-wrap {
    display: flex;
    justify-content: space-between;
    .project-tab {
      margin-top: 0;
    }
  }
  .project-tab {
    width: 49%;
    height: 150px;
    background-color: lightblue;
    margin: 2% auto;
    border-radius: 5px;
  }
}
