@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

// @mixin border-radius($val) {
//   -
// }


body {
  font-family: "Playfair Display", Verdana, sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.95);
}

header {
  margin-top: 20px;
  width: 100%;
  nav {
    width: 20%;
    margin-left: auto;
    margin-right: 30px;
    ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.main-container {
  width: 100%;
  .intro {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-left: 10%;
    h3{
      font-weight: 500;
    }
    .passion {
      &::after {
        content: "_";
        font-weight: bold;
        font-size: 20px;
        color: red;
        opacity: 1;
        animation: cursor 0.5s infinite ;
      }
    }

    .skill {
      width: 20%;
      position: relative;
      h2 {
        margin-bottom: 10px;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        opacity: 0.4;
        background: rgba(128, 0, 128, 0.3);
        width: 250px;
        height: 230px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 7000ms infinite linear;
      }
      .skill-tab {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@keyframes cursor {
  from {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.featured-project {
  .feature-proj {
    figcaption {
      height: 50px;
      color: white;
      background: linear-gradient(
        to top,
        hsla(0, 0%, 0%, 90%),
        75%,
        hsla(0, 0%, 0%, 0)
      );
    }
  }
}
