@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

html {
  width: 100vw;
}

body {
  font-family: "Ubuntu", Verdana, sans-serif;
  font-size: 20px;
  background-color: #d6edff52;
  color: #3b455f;
  letter-spacing: 1px;
  word-spacing: 1px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  &::-webkit-scrollbar {
    width: 15px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

header {
  margin-top: 20px;
  height: 40px;
  nav {
    height: 100%;
    margin-right: 30px;
    margin-left: auto;
    width: 190px;
    .line {
      height: 100%;
      span {
        display: block;
        height: 2px;
        margin-bottom: 3px;
        background: #ef6034;
      }
      .span1 {
        width: 50px;
        animation: line 2s linear;
      }
      .span2 {
        width: 40px;
        animation: mid-line 2s linear;
      }
      .span3 {
        width: 50px;
        animation: line 2s linear;
      }
    }
    ul {
      display: flex;
      list-style: none;
      width: 200px;
      justify-content: space-between;
    }
  }
}

.ball {
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: 0;
  left: 10px;
  border: 3px solid #afe0ff;
  border-radius: 50%;
  background-color: rgba(7, 6, 6, 0.692);
  overflow: hidden;
  font-size: 25px;
  opacity: 0.1;
  padding: 0 0 2.5px 5px;
  color: #fff;
  animation: rollIn 3s forwards linear;
}

.expand {
  position: fixed;
  top: 20px;
  width: auto;
  border: 3px solid #afe0ff;
  padding: 3px 5px 2px 5px;
  color: #fff;
  height: 35px;
  left: 10px;
  opacity: 0.3;
  font-size: 25px;
  background-color: rgba(7, 6, 6, 0.692);
  border-radius: 9px;
  z-index: 5;
  transition: all 0.2s ease-in-out;
  animation: expand 0.5s forwards ease-out;
  &:hover {
    opacity: 1;
    animation: wobble 1.5s alternate infinite ease-in;
  }
}

@keyframes wobble {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes expand {
  from {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@keyframes rollIn {
  from {
    opacity: 0.8;
    transform: translate(0, 0) rotate(0deg);
  }

  to {
    opacity: 1;
    transform: translate(0, -700px) rotate(360deg);
  }
}

@keyframes rollInSmall {
  from {
    opacity: 0.8;
    transform: translate(0, 0) rotate(0deg);
  }

  to {
    opacity: 1;
    transform: translate(0, -530px) rotate(360deg);
  }
}

.articles {
  padding-left: 5%;

  .article-one {
    display: block;
    text-decoration: none;
    color: inherit;
    * {
      margin-bottom: 20px;
    }
    width: 60%;
    margin: auto;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  time {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
  }
}

.main-container {
  .intro {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 30px;
    padding-left: 15%;
    position: relative;
    .intro-personal {
      width: 40%;
      margin-top: 30px;
      .taught {
        background-color: red;
        padding: 3px;
        color: #fff;
      }
      h1 {
        display: block;
        transition: all 1.5s ease-in-out;
        color: rgb(48, 44, 44);
        margin-bottom: 12px;
      }
      * {
        margin: 3px;
      }
    }
    h2 {
      font-weight: 400;
      margin: 5px 0;
    }

    h3 {
      font-weight: 500;
    }

    .passion {
      &::after {
        content: "_";
        font-weight: bolder;
        color: #ef6034;
        opacity: 1;
        animation: cursor 0.5s infinite;
      }
    }

    .skill {
      position: relative;
      margin-top: 60px;
      padding-right: 35px;
      h1 {
        margin-left: 40px;
        margin-bottom: 20px;
        color: #000000;
        span {
          background-color: goldenrod;
          display: inline-block;
        }
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -48px;
        right: -12px;
        z-index: -99;
        border-radius: 50px;
        background: #ffffff;
        box-shadow: inset 5px 5px 12px #adadad, inset -5px -5px 12px #ffffff;
        // background: linear-gradient(145deg, #ffffff, #e6e6e6);
        // box-shadow: 20px 20px 60px #d4d4d4, -20px -20px 60px #ffffff;
        // background: linear-gradient(145deg, #ffffff, #e6e6e6);
        // box-shadow: 5px 5px 12px #adadad, -5px -5px 12px #ffffff;
        // background: linear-gradient(145deg, #e0f0ff, #bccad7);
        // box-shadow: 20px 20px 60px #adbac6, -20px -20px 60px #f5ffff;
        width: 320px;
        height: 295px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 7s infinite linear;
      }

      .skill-tab {
        display: flex;
        justify-content: flex-end;
        color: #000;
        .skill-tab1 {
          margin-right: 10px;
        }
        p {
          padding: 2px;
          margin-bottom: 20px;
          font-weight: bold;
          text-align: center;
          border-radius: 10px;
        }
      }
    }
  }
}

@keyframes line {
  50% {
    width: 35px;
  }

  100% {
    width: 50px;
  }
}

@keyframes mid-line {
  50% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cursor {
  from {
    opacity: 1;
  }

  from {
    opacity: 0;
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: #ef6034;
}

.contact {
  background-color: #262626;
  color: #fff;
  height: 200px;
  padding: 40px;
  .greeting {
    .greet-head {
      display: inline;
      text-decoration: underline;
      text-decoration-color: #ef6034;
    }

    .fa-comment-dots {
      position: relative;
      top: -20px;
      font-size: 20px;
      color: limegreen;
    }
  }

  .contact-list {
    margin-top: 10px;
    padding-left: 20px;
    list-style: none;
  }
}

@media only screen and (max-width: 1024px) {
  .main-container {
    .intro {
      padding-left: 5%;
      margin-bottom: 30px;
      width: 90%;
      .intro-personal {
        width: 40%;
      }
      .skill {
        margin-top: 50px;
        margin-left: 70px;

        &::before {
          right: -18px;
          bottom: -5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
  .main-container {
    .intro {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 70%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .intro-personal {
        width: 100%;
      }
      .skill {
        margin: 90px 10% 10px 50px;
        width: 200px;
        .skill-tab {
          width: 200px;
          height: 150px;
          .skill-tab1 p,
          .skill-tab2 p {
            margin-bottom: 25px;
          }
        }
        &::before {
          width: 250px;
          height: 235px;
          left: -29px;
          bottom: 20px;
        }
      }
    }
  }
  .ball {
    animation: rollInSmall 3s forwards linear;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }

  header {
    nav {
      width: 120px;
      ul {
        margin: 0;
        width: initial;
      }
    }
  }

  .main-container {
    .intro {
      width: auto;
      margin: 15px 0;
      align-items: center;
      .intro-personal {
        width: 280px;
        margin-top: 20px;
        padding: 0;
      }
      .skill {
        margin: 0 0 35px 0px;
        h1 {
          text-align: center;
          padding-top: 50px;
        }
        .skill-tab {
          align-items: center;
          margin-left: 25px;
          width: 160px;
          height: 100px;
          justify-content: flex-start;
        }
        &::before {
          width: 210px;
          height: 210px;
          left: -10px;
          bottom: -30px;
        }
      }
    }
  }
  .expand {
    font-size: 20px;
  }
}
