@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
body {
  font-family: "Playfair Display";
  font-size: 20px; }

header {
  margin-top: 50px;
  width: 100%; }
  header nav {
    width: 30%;
    margin-left: auto;
    margin-right: 30px; }
    header nav ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      justify-content: space-between; }

section {
  height: 500px; }
